@import "./fonts";
@import "./colors";

// * {
//   background-color: red;
// }

::-moz-selection {
  /* Code for Firefox */
  color: gray;
  background: $primary;
}

::selection {
  color: gray;
  background: $primary;
}
