$header-font: 'var(--font-rubik)', sans-serif;
$sub-header-font: 'var(--font-raleway)', sans-serif;
$body-font: 'var(--font-hind-vadodara)', sans-serif;

$family-primary: $body-font;
$family-secondary: $header-font;
$family-third: $sub-header-font;
