@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara&family=Raleway:wght@400;800&family=Rubik:wght@500;800&display=swap');

$header-font: 'Rubik', sans-serif;
$sub-header-font: 'Raleway', sans-serif;
$body-font: 'Hind Vadodara', sans-serif;

$family-primary: $body-font;
$family-secondary: $header-font;
$family-third: $sub-header-font;

.is-size-1,
is-size-2,
is-size-3,
is-size-4,
is-size-5,
is-size-6,
is-size-7 {
	font-family: $header-font;
}

.is-family-title {
	font-family: $header-font;
}
.is-family-sub-title {
	font-family: $sub-header-font;
}
.is-family-text {
	font-family: $body-font;
}
.is-text {
	font-family: $body-font;
}
