@import './fonts';
@import './colors';

/* * {
	box-sizing: border-box;
} */

::-moz-selection {
	/* Code for Firefox */
	color: gray;
	background: $primary;
}

::selection {
	color: gray;
	background: $primary;
}
