@import './colors';
@import './fonts';

/* * {
	box-sizing: border-box;
} */

::-moz-selection {
	/* Code for Firefox */
	color: gray;
	background: $primary;
}

::selection {
	color: gray;
	background: $primary;
}

@media (max-width: 1024px) {
	body {
		overflow: -moz-scrollbars-none;
		-ms-overflow-style: none;
		overflow-y: auto;
		overflow-x: hidden; /* Hide horizontal scrollbar */
	}
	body::-webkit-scrollbar {
		width: 0 !important;
	}
}

.is-secondary {
	color: $secondary;
	background-color: $secondary;
}

.is-logo {
	font-family: $header-font;
	font-weight: bold;
	font-size: 2rem;
}

.is-strong {
	font-weight: bold;
}

.navbar-item {
	font-size: 1.2rem;
}

// classname with number as props (e.g. .is-heading-1)
.is-heading-1 {
	font-family: $header-font;
	font-size: 4rem;
	line-height: 4rem;
}

.is-heading-2 {
	font-family: $header-font;
	font-size: 3.5rem;
	line-height: 3.5rem;
}

.is-heading-3 {
	font-family: $header-font;
	font-size: 3rem;
	line-height: 3rem;
}
